body {
    font-family: 'Oswald', sans-serif;
}

.h1-color {
    color: rgb(231, 139, 243);
    font-size: 60pix;
}

.f-color {
    color: rgba(161, 238, 238, 0.993);
}


section {
    display: flex;
}

.half-s {
    width: 50%;
    padding-left: 5%;
    background-color: rgba(255, 228, 196, 0.438);
}

.half-ss {
    text-align: center;
    background-image: url(images/developer.png);
}

.half-s img {
    width: 50%;

    border: 5px solid rgba(161, 238, 238, 0.993);
    border-radius: 50%;
    background-image: url(images/header_bg.png);
}

.batton {
    text-decoration: none;
    background-image: linear-gradient(rgba(240, 127, 22, 0.562), red);
    padding: 5px 40px;
    border-radius: 5%;
    color: rgba(22, 228, 39, 0.664);
    font-weight: 700;

}